/* colors
#007bff
#28a745
#cae7d1
#d9eed9 
#f1f1f1 
*/

/* //////////////////our own changes/////////////////// */

/*login*/

.card {
  width: 400px;
  border: 1px solid #f1f1f1;
  height: 250px;
  margin-bottom: 100px;
  margin-top: 60px;
}
.card input {
  text-align: right;
}

.btr {
  border-top-right-radius: 5px !important;
}

.btl {
  border-top-left-radius: 5px !important;
}

.btn-dark {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-dark:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.nav-pills {
  display: table !important;
  width: 100%;
}

.nav-pills .nav-link {
  border-radius: 0px;
  border-bottom: 1px solid #0d6efd40;
}

.nav-item-login {
  display: table-cell;
  background: #0d6efd2e;
}

.form {
  padding: 10px;
  height: 300px;
}

.form input {
  margin-bottom: 12px;
  border-radius: 3px;
}

.form input:focus {
  box-shadow: none;
}

.form button {
  margin-top: 20px;
}

/* سایر در ایجاد برنامه*/
.otherInput {
  visibility: visible;
}
.remove-otherInput {
  visibility: hidden;
}

/*چت*/

.chat-message-inner .time {
  margin-bottom: 0;
  margin-top: 8px;
  color: #8f8f8f;
}

.chat-title-bar span {
  cursor: pointer;
}
.chat-title-bar span svg {
  margin-right: 5px;
}

.chat-center {
  direction: rtl;
  text-align: center;
}
.chat-height {
  height: 150px;
}

.chat-bg-color {
  background-color: #28a745 !important;
}
.chat-inner-bg-color {
  background-color: #f1f1f1 !important;
  color: #000 !important;
}

/*schedule-table*/

/* .scheduled-color {
  background-color: #e0dfdf;
} */

.professor-page {
  margin-bottom: 30px;
  padding: 10px;
}

/* .table-container {
  overflow-x: hidden;
  width: 100%;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
} */
.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  text-align: center;
}
.schedule-table th {
  background-color: #28a745;
  color: white;
}
.schedule-table td:hover {
  /* background-color: lightblue !important; */
  cursor: pointer;
}

.center-paragraph {
  margin-right: 80px;
}

.container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
  direction: rtl;
}
.center-term {
  margin-right: 15%;
  display: flex;
  gap: 20px;
  flex-direction: row;
  background-color: #fff;
}
.add-button {
  margin-left: 10px;
}
.edit-button,
.add-button {
  background-color: #fff;
  padding: 10px 10px;
  color: rgb(0, 0, 0);
  border: 2px solid #28a745;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  width: 75px;
}

.show-button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 2px solid #28a745;
}

.save-button {
  background-color: #28a745;
  color: #fff;
  border: 2px solid #28a745;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-left: 50px;
}

.combo select {
  background-color: #fff;
  color: rgb(0, 0, 0);
  border: 2px solid #28a745;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.modal-content {
  direction: rtl;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 5px;
  border: 1px solid #888;
  width: 35%;
}

.header {
  border-radius: 7px;
  background-color: #28a745;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 50px;
  margin: 1px 0 25px 0;
  padding: 10px;
  color: white;
}

.fa-times-circle {
  font-size: 28px;
  cursor: pointer;
}

.form-row-radio {
  display: flex;
  gap: 25px;
  margin: 1px 12px 25px 0;
}

.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 12px;
}

.btn-radio {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin: auto auto 10px 10px;
}
.btn-radio .save,
.btn-radio .remove {
  width: 60px;
  text-align: center;
  border-radius: 5px;
  color: white;
  border: none;
  height: 35px;
}

.save {
  background-color: #007bff;
}
.remove {
  background-color: rgb(255, 100, 100);
}

/* Home */

.login-form {
  margin-top: 50px;
}

.signout {
  margin-right: 60px;
}

.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
  border-color: lightgray;
}

.select-bar {
  height: 55px;
  border-radius: 10px;
  border-color: lightgray;
  margin-right: -20px;
}

.heading-section {
  padding-bottom: 100px;
}

.heading-borders {
  text-align: center;
  justify-content: center;
  display: flex;
}
.heading-borders span {
  border: 1px solid red;
  width: 5%;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .heading-section h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .heading-borders span {
    width: 8%;
  }
}

@media screen and (max-width: 500px) {
  .heading-borders span {
    width: 25%;
  }
  .heading-section h2 {
    font-size: 30px;
  }
}

.footer {
  margin-top: 25px;
}

.professor-img {
  display: inline;
  /* position: relative; */
  overflow: hidden;
  border-radius: 50%;
}

.professor-img img {
  height: 100%;
  margin-left: -50px;
  float: right !important;
  border-radius: 50%;
  width: 35% !important;
  margin-top: -5px !important;
}

.professor-card {
  width: 350px;
  height: 150px;
  padding: 20px;
  border-radius: 15px;
  background: #fff;
  border: 1px solid lightgray;
  color: black;
  margin-bottom: 30px;
}

.professor-card h3 {
  margin-bottom: 10px;
  padding-right: 116px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #000;
}

.professor-card h3:after {
  display: block;
  height: 1px;
  background-color: lightgray;
  content: " ";
  width: 92%;
  margin-right: 10px !important;
  margin-top: 5px;
}

.professor-card p {
  font-size: 15px !important;
  margin-bottom: 2px;
  color: #007bff;
  padding-right: 130px !important;
}

.professor-card button {
  margin-right: 60px !important;
  margin-left: -50px !important;
  margin-top: 5px;
}

.pagination {
  width: 100% !important;
  margin-bottom: -30px;
  list-style: none;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.activeP {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
}

.page-item {
  list-style: none;
  padding: 2px 12px;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

.home {
  margin-top: -50px !important;
}

/* teacher-register */

.direction,
label small,
form input {
  direction: rtl;
  text-align: right;
}

.teacher-form {
  direction: rtl;
}

.form-width-edit {
  width: 60%;
}
.form-edit-center {
  margin: 20px auto 0 auto;
}

.option-width {
  width: 50%;
}

.width-input {
  width: 100%;
}

/* Home Guest */

.text-white {
  text-decoration: none !important;
}

.logo {
  width: 70px;
  height: 60px;
  margin-right: 15px;
  margin-left: 89px;
}

.teacher-submit {
  display: inline-block;
  margin-top: 20px;
  margin-top: 35px;
  color: #000;
  text-decoration: none;
  position: absolute;
  width: 70%;
  margin-right: 10%;
  transition: color 0.2s;
}

.teacher-submit:hover {
  text-decoration: none;
}

.teacher-login {
  margin-left: 5px;
}

.form-width-edit {
  width: 60%;
}

/* ///////////////////prev changes///////////////////// */

.login {
  padding-right: 50px;
}

.home {
  margin-bottom: 70px;
}

.teacher-login {
  margin-left: 5px;
  margin-right: 60px;
}

/* main page*/

.signout {
  margin-right: 60px;
}

/* prev changes */
body {
  font-family: "Vazirmatn" !important;
}

.header-bar {
  background-color: #292929;
}

.container--narrow {
  max-width: 732px;
}

.header-search-icon {
  position: relative;
  top: 3px;
}

.header-chat-icon {
  cursor: pointer;
  position: relative;
  top: 3px;
}

.chat-count-badge {
  text-align: center;
  position: absolute;
  top: 2px;
  left: 0px;
  width: 16px;
  font-size: 0.6rem;
  font-weight: bold;
}

.avatar-small {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.avatar-tiny {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.form-control-title {
  font-size: 2rem;
  font-weight: 500;
}

.body-content {
  font-size: 1.2rem;
  line-height: 1.75;
  color: #292929;
}

.body-content p,
.body-content ul,
.body-content ol {
  margin-bottom: 1.75rem;
}

.input-dark {
  background-color: #555;
  border-color: transparent;
  color: #ffffff;
}

.input-dark:focus {
  color: #ffffff;
  background-color: #666;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-dark::-webkit-input-placeholder {
  color: #999;
}
.input-dark::-moz-placeholder {
  color: #999;
}
.input-dark:-ms-input-placeholder {
  color: #999;
}
.input-dark:-moz-placeholder {
  color: #999;
}

@media (min-width: 768px) {
  .input-dark {
    width: auto;
  }
}

.display-3 {
  font-size: 4.2rem;
}

@media (max-width: 1199px) {
  .display-3 {
    font-size: 3.4rem;
  }
}

@media (max-width: 768px) {
  .display-3 {
    font-size: 2.5rem;
  }
}

.form-group {
  position: relative;
}

.liveValidateMessage {
  top: -6px;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 16px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.liveValidateMessage--visible {
  opacity: 1;
  transform: translateY(0);
}

.liveValidateMessage-enter {
  opacity: 0;
  transform: translateY(100%);
}

.liveValidateMessage-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.liveValidateMessage-exit {
  opacity: 1;
  transform: translateY(0);
}

.liveValidateMessage-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.form-group input,
.form-group textarea {
  position: relative;
  z-index: 2;
}

textarea.tall-textarea {
  height: 160px;
}

@media (min-width: 768px) {
  textarea.tall-textarea {
    height: 320px;
  }
}

.delete-post-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

/* Search Overaly */
.search-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(215, 215, 215, 0.911);
}

.search-overlay-enter {
  opacity: 0;
  transform: scale(1.3);
}

.search-overlay-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: 0.33s visibility ease-in-out, 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.search-overlay-exit {
  opacity: 1;
  transform: scale(1);
}

.search-overlay-exit-active {
  opacity: 0;
  transform: scale(1.3);
  transition: 0.33s visibility ease-in-out, 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.search-overlay-icon {
  color: #007bff;
  font-size: 1.4rem;
  margin: 0;
  margin-right: 10px;
}

.live-search-field {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  outline: none;
  flex: 1;
  color: #007bff;
}

.live-search-results {
  opacity: 0;
  transition: all 0.3s ease-out;
  transform: scale(1.07);
}

.live-search-results--visible {
  opacity: 1;
  transform: scale(1);
}

.search-overlay-top {
  background-color: #fff;
  /* background-color: rgba(0, 0, 0, .79); */
}

.search-overlay-top .container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.search-overlay-bottom {
  overflow: auto;
}

.close-live-search {
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.75;
  line-height: 1;
  color: #292929;
}

@media (min-width: 700px) {
  .live-search-field {
    font-size: 2.5rem;
  }

  .close-live-search {
    font-size: 3rem;
  }

  .search-overlay-icon {
    font-size: 3rem;
  }
}

.close-live-search:hover {
  opacity: 1;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.circle-loader {
  opacity: 0;
  transition: opacity 0.45s ease-out, visibility 0.45s ease-out;
  visibility: hidden;
  position: absolute;
  left: 50%;
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: 10px solid rgba(73, 80, 87, 0.2);
  border-top-color: #495057;
  will-change: -webkit-transform, transform;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.circle-loader--visible {
  visibility: visible;
  opacity: 1;
}

/* End Search Overlay */

/* Chat */
.chat-wrapper {
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 20px;
  width: 290px;
  height: 350px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.chat-wrapper--is-visible {
  opacity: 1;
  transform: translateY(0);
}

.chat-title-bar {
  background-color: #292929;
  color: #fff;
  padding: 4px 7px;
  display: flex;
  justify-content: space-between;
}

.chat-title-bar-close {
  opacity: 0.7;
  cursor: pointer;
}

.chat-title-bar-close:hover {
  opacity: 1;
}

.chat-log {
  padding: 8px;
  flex: 1;
  overflow: auto;
}

.chat-self,
.chat-other {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.chat-self {
  padding-left: 25%;
}

.chat-self .chat-avatar {
  margin-left: 6px;
}

.chat-self .chat-message {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.chat-self .chat-message-inner {
  text-align: right;
  padding: 4px 7px;
  border-radius: 12px;
  background-color: #5f956b;
  color: #fff;
}

.chat-other {
  padding-right: 25%;
}

.chat-other .chat-avatar {
  margin-right: 6px;
}

.chat-other .chat-message {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.chat-other .chat-message-inner {
  padding: 4px 7px;
  border-radius: 12px;
  background-color: #f1f0f0;
}

.chat-message a {
  color: #212529;
}

.chat-field {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 7px;
  border: none;
  outline: none;
  font-size: 0.75rem;
}

.floating-alert {
  display: none;
  position: absolute;
  z-index: 999;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  -moz-animation: floatingAlert ease-in 5s forwards;
  -webkit-animation: floatingAlert ease-in 5s forwards;
  -o-animation: floatingAlert ease-in 5s forwards;
  animation: floatingAlert ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.floating-alerts .floating-alert:last-of-type {
  display: block;
}

@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

@-webkit-keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

.small-header-avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.custom-tooltip {
  padding: 8px 10px !important;
}

/* Dots Loading Animation */
.dots-loading {
  margin: 0 auto;
  text-align: center;
}

.dots-loading::before,
.dots-loading::after {
  content: " ";
}

.dots-loading div,
.dots-loading::before,
.dots-loading::after {
  margin: 35px 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c4c4c4;
  opacity: 0;
}

.dots-loading::before {
  -moz-animation: opacitychange 1s ease-in-out infinite;
  -webkit-animation: opacitychange 1s ease-in-out infinite;
  -o-animation: opacitychange 1s ease-in-out infinite;
  animation: opacitychange 1s ease-in-out infinite;
}

.dots-loading div {
  -moz-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.33s infinite;
  animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

.dots-loading::after {
  -moz-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.66s infinite;
  animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

@-webkit-keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

a {
  text-decoration: none !important;
}
